<template>
<article>
	<div class="column">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">
					@{{ artical.title }}
				</p>
				<!-- <a href="#" class="card-header-icon">
					<i class="fa fa-angle-down"></i>
				</a> -->
			</header>
			<div class="card-content">
				<div class="content">
					@{{ artical.body }}
					<br>
					<small>
						Created @{{ artical.created_at }}
					</small>
				</div>
			</div><!-- card-content -->
			<footer class="card-footer">
				<a class="card-footer-item" :href="href">Edit</a>
				<!-- Make the delete buttom launch a modal, that then sends the request to the server -->
				<a href="#" class="card-footer-item" @click.prevent="activateModal">DELETE</a>
			</footer>
		</div><!-- card -->
	</div><!-- wrapper -->
</article>
</template>

<script>
	export default(){
		props: ['artical'],

		data: function() {
			return {
				href: '/admin/blog/' + this.artical.id + '/edit',
			}
		},

		methods: {
			activateModal: function() {
				eventHub.$emit('activateModal', this.artical.id)
			}
		},

		created: function() {
			eventHub.$on('destroyArtical', this.hideArtical);
		},

		beforeDestroy: function() {
			eventHub.$off('destroyArtical', this.hideArtical);
		}
	}
</script>