<template>
    <div class="dv">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="title">{{title}}</p>
                </div>
                <div class="level-item">
                    <a :href="'/admin' + source + '/create'" class="button is-success">New</a>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
            <div class="level-item">
                    <span class="select">
                        <select v-model="query.search_column">
                            <option v-for="column in columns" :value="column">{{column}}</option>
                        </select>
                    </span>
                    </p>
                </div>
                <div class="level-item">
                    <span class="select">
                        <select v-model="query.search_operator">
                            <option v-for="(value, key) in operators" :value="key">{{value}}</option>
                        </select>
                    </span>
                    </p>
                </div>
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text"
                                placeholder="Find a post"
                                v-model="query.search_input"
                            >
                        </div>
                        <div class="control">
                            <a class="button" @click="getData">
                                Search
                            </a>
                        </div>
                    </div>
                </div>
                <div class="level-item">
                    <span class="select">
                        <select @change="selectPerPage($event.target.value)" v-model="query.per_page">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                    </p>
                </div>
            </div>
        </nav>

        <pagination :model="model"></pagination>

        <table class="table">
            <thead>
                <tr>
                    <th v-for="column in columns" @click="toggleOrder(column)">
                        <span>{{ column }}</span>
                        <span v-if="column === query.column">
                            <span v-if="query.direction === 'desc'"><i class="fa fa-arrow-down"></i></span>
                            <span v-else><i class="fa fa-arrow-up"></i></span>
                        </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data, key) in model.data">
                    <td v-for="column in columns">
                        <div v-if="column == 'image'" class="image is-64x64">
                            <img :src="size(data.image, 'small')" alt="">
                        </div>
                        <div v-else-if="column == 'approved'">
                            <a class="button is-success" href="#" @click.prevent="toggleApproved(data.id)" v-if="data.approved">
                                <i class="fa fa-check"></i>
                            </a>
                            <a href="#" class="button is-danger" @click.prevent="toggleApproved(data.id)" v-else>
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                        <div v-else-if="column == 'rating'">
                            <star-rating
                                :star-size="20"
                                :rating="data.rating"
                                :show-rating="false"
                                :read-only="true"
                            ></star-rating>
                        </div>
                        <span v-else="">
                            {{data[column]}}
                        </span>
                    </td>
                    <td>
                        <a :href="edit(data.id)" class="button">Edit</a>
                        <button class="button is-danger" @click="deleteBlog(data.id, !data.approved)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr><!-- Forloop -->
            </tbody>
        </table>
    </div>
</template>

<script>
    import Pagination from './Pagination';
    import StarRating from 'vue-star-rating';

    export default {
        props: ['title', 'source'],

        components: {
            Pagination,
            StarRating
        },

        data() {
            return {
                model: {},
                columns: {},
                query: {
                    page: 1,
                    column: 'id',
                    direction: 'desc',
                    per_page: 5,
                    search_column: 'id',
                    search_operator: 'equal',
                    search_input: ''
                },
                operators: {
                    equal: '=',
                    not_equal: '<>',
                    less_than: '<',
                    greater_than: '>',
                    less_than_or_equal_to: '<=',
                    greater_than_or_equal_to: '>=',
                    in: 'IN',
                    like: 'LIKE'
                }
            }
        },

        methods: {
            getData() {
                axios.get(`/api${this.source}?column=${this.query.column}&direction=${this.query.direction}&page=${this.query.page}&per_page=${this.query.per_page}&search_column=${this.query.search_column}&search_operator=${this.query.search_operator}&search_input=${this.query.search_input}`)
                    .then(response => {
                        this.model = response.data['model'];
                        this.columns = response.data['columns']
                    }).catch(errors => {
                        console.log(errors);
                    })
            },

            toggleOrder(column) {
                if(column === this.query.column){
                    if(this.query.direction === 'desc') {
                        this.query.direction = 'asc'
                    } else {
                        this.query.direction = 'desc'
                    }
                }else {
                    this.query.column = column
                    this.query.direction = 'desc'
                }

                this.getData();
            },

            toggleApproved(id, data){
                axios.patch('/api' + this.source + '/' + id, data)
                    .then(response => {
                        let blog = this.model.data.filter(blog => {
                            return blog.id == id
                        })
                        blog[0].approved = !blog[0].approved
                        console.log(blog)
                    })
                    .catch(errors => {
                        console.log(errors)
                    })
            },

            selectPerPage(value)
            {
                this.query.per_page = value
                this.query.page = 1
                this.getData()
            },

            goToPage(page)
            {
                this.query.page = page
                this.getData()
            },

            next() {
                if(this.model.next_page_url){
                    this.query.page++
                    this.getData()
                }
            },

            prev() {
                if(this.model.prev_page_url){
                    this.query.page--
                    this.getData()
                }
            },

            edit(id)
            {
                return '/admin' + this.source + '/' + id + '/edit'
            },

            deleteBlog(id)
            {
                Event.$emit('delete', id)
            },

            removeBlog(id)
            {
                this.model.data = this.model.data.filter(blog => {
                    return blog.id !== id
                })
            },

            size(image, size) {
                if(image){
                    let newImage = image.split('.')
                    return newImage[0] + '--' + size + '.' + newImage[1]
                }
                else{
                    return '/img/icons/MissingPhotoIcon.png'
                }
            },

            isCurrent(page) {
                return page === this.model.current_page
            }
        },

        computed: {
            pages() {
                let pageNumbers = []
                if(this.model.last_page > 2){
                    if(this.model.current_page != 1){
                        pageNumbers.push(this.model.current_page - 1)
                    }
                    if(this.model.current_page != this.model.last_page){
                        pageNumbers.push(this.model.current_page)
                    }
                    if(!(this.model.current_page >= this.model.last_page -1)){
                        pageNumbers.push(this.model.current_page + 1)
                    }
                }

                return pageNumbers
            }
        },

        created() {
            this.getData();
        },

        mounted() {
            Event.$on('deleted', id => {
                this.removeBlog(id)
            }),
            Event.$on('goto', page => {
                this.goToPage(page);
            }),
            Event.$on('next', () => {
                this.next();
            }),
            Event.$on('previous', () => {
                this.prev();
            })
        },

        beforeDestroy() {
            Event.$off()
        }
    }
</script>
