<template>
    <div class="control">
        <label for="date" class="label">Publish at</label>

        <datetime
            v-model="date"
            type="datetime"
            input-class="input"
            value-zone="America/New_York"
            zone="America/New_York"
            :minute-step="15"
            use12-hour
            auto
        ></datetime>
        <input type="hidden" name="published_at" :value="date">
    </div>
</template>

<script>
import {DateTime} from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
export default {
    data() {
        return {
            date: ''
        }
    }
}
</script>
