<template>
    <div :class="['notification', alertType(), {'zoomOut': !show}, {'is-invisible': !show}]" role="alert">
        <div class="delete" v-if="isToggle" @click="closeModal">&times;</div>
        <h3><strong>{{ data.title }}</strong></h3>
        <div class="Alert__body">{{ data.body }}</div>
    </div>
</template>

<script>
export default {
    props:['title', 'message', 'type', 'important'],

    data() {
        return {
            data: {},
            show: false,
            isToggle: true
        }
    },

    methods: {
        hide() {
            setTimeout(() => {
                this.show = false;
            }, 5000)
        },

        flash(title, message = null, type = 'success', toggle = false) {
            this.messageType = type.charAt(0).toUpperCase() + type.slice(1);
            this.data = {
                title: title,
                body: message
            }

            this.show = true;
            this.isToggle = toggle;
            if(!toggle){
                this.hide();
            }
        },

        alertType() {
            let type = 'is-' + this.messageType
            return type.toLowerCase();
        },

        closeModal() {
            this.show = false;
        }
    },

    created() {
        if (this.title || this.message)
        {
            this.flash(this.title, this.message, this.type, this.important)
            this.show = true;
        }

        Events.$on('flash', (title, message, type, toggle) => {
            this.flash(title, message, type, toggle);
        });
    }
}
</script>

<style scoped lang="sass">
    .notification
        position: fixed
        bottom: 10px
        right: 10px
        width: 500px
</style>
