<template>
	<section>
		<div class="Lego" 
			v-for="block in blocks"
		>
			<div class="Bubble">
			</div>
			<div class="Container">
				<div class="Card__container">
					<div class="Card">
						<div class="Card__header">
							<h1>{{block.title}}</h1>
						</div>
						<div class="Card__body">
							<p v-html="formatText(block.excerpt)"></p>
							<a :href="'/pages/' + block.slug" class="Button" v-text="getText(block.button_text)"></a>
						</div>
					</div><!-- Card -->
					<div class="Card__backer"></div>
				</div><!-- Card__container -->
			</div>
			<div class="Lego__background">
				<img :src="block.image" alt="">
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		props: ['url'],

		data() {
			return {
				blocks: []
			}
		},

		methods: {
			getData() {
				axios.get('/api/' + this.url)
					.then(response => {
						this.blocks = response.data
					})
					.catch(errors => {
						console.log(errors)
					})
			},

			formatText(text) {
				return this.nl2br(text) 
			},

			nl2br(str, is_xhtml) {
    			var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    			return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
			},
			getText(text) {
				if(text)
				{
					return text
				}
				return 'Read More...'
			},

			getBackgroundImage(image) {
				return 'url(' + image + ')'
		    }
		},

		computed: {
		},

		created(){
			this.getData();
		}

	}	
</script>