<template>
	<div>
		<form enctype="multipart/form-data" method="POST" action="/admin/blog/" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
			<div class="control">
				<label for="title" class="label">Title</label>

				<input 
					type="text" 
					name="title" 
					class="input" 
					v-model="form.title" 
				>

				<span 
					class="help is-danger" 
					v-text="form.errors.get('title')"
					v-if="form.errors.has('title')"
				></span>
			</div>

			<div class="control">
				<label for="body" class="label">Body</label>		

				<textarea 
					class="textarea" 
					name="body" 
					cols="30" rows="10" 
					v-model="form.body"
				></textarea>

				<span 
					class="help is-danger" 
					v-text="form.errors.get('body')"
					v-if="form.errors.has('body')"
				></span>
			</div>

			<div class="control" v-if="!form.image">
				<label for="image" class="label">image</label>		

				<input
					type="file" 
					name="image" 
					@change="onFileChange"
				>


				<span 
					class="help is-danger" 
					v-text="form.errors.get('image')"
					v-if="form.errors.has('image')"
				></span>
			</div>
			<div class="control" v-else>
				<div class="image is-64x64">
					<img :src="form.image" alt="">
					<button class="button is-danger" @click="removeImage">Remove image</button>
				</div>
				
			</div>

			<div class="control">
				<button class="button is-primary" :disabled="form.errors.any()">Submit</button>
			</div>
		</form>
	</div>
</template>
<script>
	export default{
		data() {
			return {
				form: new Form({
					title: '',
					body: '',
					image: '',
				})
			}
		},

		methods: {
			onSubmit() {
				this.form.post('/admin/blog/')
					.then(data => {
						alert('Handling it!')
						// return true
					})
					.catch(errors => {
						console.log(errors)
						return false
					});
			},
			onFileChange(e) {
				let files = e.target.files || e.dataTransfer.files;
				if(!files.length)
					return;
				this.createImage(files[0]);
			},

			createImage(file){
				var image = new Image();
				var reader = new FileReader();
				var vm = this;

				reader.onload = (e) => {
					vm.form.image = e.target.result;
				};
				reader.readAsDataURL(file);	
			},

			removeImage: function(e) {
				this.form.image = ''
			}
		},

		mounted() {
			if(typeof existingData !== 'undefined') {
				for (let property in existingData) {
					this.form[property] = existingData[property];
				}
			}
		}
	}
</script>