<template>
	<div class="modal" :class="{ 'is-active' : showModal }">
		<div class="modal-background"></div>
		<div class="modal-content">
			<div class="card is-fullwidth">
				<header class="card-header">
					<h1 class="card-header-title">
						Are you sure you want to delete?
					</h1>
				</header>
				<div class="card-content">
					<div class="content">
						Once you delete a post, it is deleted forever. You cannot undo this request.
					</div>
				</div>
				<footer class="card-footer">
					<a class="card-footer-item" @click="neverMind">Never mind</a>
					<a class="card-footer-item" @click="onDelete">KILL IT!</a>
				</footer>
			</div>
		</div>
		<button class="modal-close" @click="showModal = false"></button>
	</div>
</template>

<script>
	export default {
		props: [
			'source'
		],

		data() {
			return {
				showModal: false,
				id: ''
			}
		},

		methods: {
			onDelete(id) {
				axios.delete('/api' + this.source + '/' + this.id)
					.then(response => {
						Event.$emit('deleted', this.id)
						this.showModal = false
						this.id = ''
					})
					.catch(errors => {
						console.log(errors);
					})
			},

			neverMind() {
				this.showModal = false,
				this.id = ''
			}
		},

		mounted() {
			Event.$on('delete', id => {
				this.id = id
				this.showModal = true
			})
		},

		beforeDestroy() {
			Event.$off()
		}
	}
</script>
