<template>
    <div>
        <vue-star-rating
            v-model="rating"
            :star-size="30"
            :show-rating="false"
        ></vue-star-rating>
        <input type="hidden" name="rating" :value="rating">
    </div>
</template>


<script>
    import VueStarRating from 'vue-star-rating';
    export default {
        props: ['score'],

        components: {
            VueStarRating
        },

        data() {
            return {
                rating: 0
            }
        }
    }
</script>
