<template>
    <ul class="Star_Rating">
        <label v-for="y in 5" :for="y + '-Star'" @click="notify(y)">{{ y }} star</label>
        <input
            class="Star"
            :id="i + '-Star'"
            name="rating"
            type="radio"
            v-for="i in 5"
            :value="6 - i"
        >
    </ul>
</template>


<script>
export default {
    props: ['score'],

    filter: {
        reverse(value) {
            return value.slice().reverse();
        }
    },

    methods: {
        notify(i) {
            alert(i)
        },
        range(start, end) {
            return Array(end - start + 1).fill().map((_, idx) => start + idx )
        },
        reverse(n) {
        }
    },

}
</script>


<style scoped lang="sass">
    .Star_Rating
        &:not(:checked)
            & > input
                position: absolute
                top: -9999px
                clip: rect(0,0,0,0)
            & > label
                float: right
                width: 1em
                padding: 0 0.1em
                overflow: hidden
                white-space: nowrap
                line-height: 1.2
                color: lightgrey
                &:before
                    content: '★ '
                &:hover
                    color: gold
                    & ~ label
                        color: gold

        & > input:checked
            & ~ label
                color: gold
            & + label:hover,
            & + label:hover ~ label,
            & + label:hover ~ label:hover,
            & + label:hover ~ label:hover ~ label,
            & + label:hover ~ label:hover ~ input:checked ~ label,
                color: gold


</style>
