.Border
    @for $i from 1 through 5
        @each $name, $colors in $alertMap
            $bgcolor: nth($colors, 1)
            $fontcolor: nth($colors, 2)

            &-#{$i}-#{$name}
                    border-width: $i + px
                    border-style: solid
                    border-color: $bgcolor

