.Button
    display: inline-block
    padding: 5px 10px
    color: $button-color
    background-color: $button-background
    border: none
    cursor: pointer
    +border-radius($global-radius)
    +noSelect()

    @each $name, $colors in $buttonMap
        $bgcolor: nth($colors, 1)
        $fontcolor: nth($colors, 2)

        &--#{$name}
            background-color: $bgcolor
            color: $fontcolor

            &:hover
                background-color: darken($bgcolor, 10%)
