.Card
    display: flex
    flex-flow: column nowrap
    background-color: $card-background
    +border-radius($card-border-radius)
    border-bottom: $card-border-bottom
    overflow: hidden

.Card__title
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.Card__body
    position: relative
    padding: 20px

.divider
    display: block
    height: 4px
    width: 60px
    background-color: $brand-primary
    margin: 10px auto
