$base : (100 / $grid-columns)


.Grid--Flex
    display: flex
    flex-flow: row wrap
    margin-left: -$grid-gutter
    margin-right: -$grid-gutter


    &.is-spaced
        .Column
            margin: 0 $grid-gutter

    .Row

    .Column
        flex: 1
        +breakpoint($tablet)
            &.is-one-third
                flex: none
                width: 33%
            &.is-two-thirds
                flex: none
                width: 66%
            &.is-one-quarter
                flex: none
                width: 25%
            &.is-half
                flex: none
                width: 50%
            &.is-three-quarters
                flex: none
                width: 75%


        @for $i from 1 through $grid-columns
            &.is-#{$i}-wide
                $percent : ($base * $i) + %
                $gutter : ($grid-gutter * 2)
                flex: 0 1 calc(#{$percent} - #{$gutter})

        @each $break, $size in $grid-break-points
            +breakpoint($size)
                @for $i from 1 through $grid-columns
                    &.is-#{$i}-wide-#{$break}
                        $percent : ($base * $i) + %
                        $gutter : ($grid-gutter * 2)
                        flex: 0 1 calc(#{$percent} - #{$gutter})
