.is-flex
	display: flex

.flex-full
	flex: 1

.flex-row
	flex-flow: row wrap

.flex-column
	flex-flow: column wrap

.flex-end
	flex: 1
	justify-content: flex-end

.flex-center
	justify-content: center

.has-space-between
	justify-content: space-between

// Align
.align-items-center
    align-items: center

.align-flex-end
    align-items: flex-end
.align-self-flex-end
    align-self: flex-end

.justify-baseline
    justify-content: baseline
