.Grid
    display: Grid
    grid-template-columns: repeat($grid-columns, 1fr)

    &.is-spaced
        grid-gap: $grid-gutter

    &.has
        @for $i from 1 to $grid-columns
            &-#{$i}-columns
                grid-template-columns: repeat($i, 1fr)


    .Column
        grid-column: span $grid-columns
        grid-column: span 1

        &.is-quarter
            grid-column: span ( $grid-columns / 4 )
        &.is-half
            grid-column: span ( $grid-columns / 2 )


        @for $i from 1 through $grid-columns
            &.is-#{$i}-wide
                grid-column: span #{$i}

        @each $break, $size in $grid-break-points
            +breakpoint($size)
                @for $i from 1 through $grid-columns
                    &.is-#{$i}-wide-#{$break}
                        grid-column: span #{$i}
