.help-block
    color: $brand-danger
    font-size: 0.7rem
    font-weight: bold

.svg-fill-primary svg path,
.svg-fill-primary svg circle
    fill: $brand-primary

.text
    &-is
        &-centered
            text-align: center
        &-white
            color: white
        &-primary
            color: $brand-primary
        &-primary-light
            color: $brand-primary-light

    &-has
        &-shadow
            text-shadow: 0px 1px 8px rgba(0,0,0,0.4)


.is-page
    margin-top: 0
    +breakpoint($tablet-portrait)
        margin-top: $nav-bar-height + px


.is-circle
	+border-radius(50%)

.is-active
	display: flex

.is-hidden
    display: none

.is-danger
	background-color: $brand-danger
	color: #fff

.is-success
	background-color: $brand-success

.is-info
	background-color: $brand-info

.is-warning
	background-color: $brand-warning

.is-rounded
	+border-radius($global-radius)

.has-shadow
	border-bottom: 1px solid rgba(0,0,0,0.2)
	box-shadow: 0 2px 4px rgba(0,0,0,0.2)



.pos-r
    position: relative
    +clearfix

.pos-a
    position: absolute

.pos-f
    position: fixed

.pos-s
    position: static


@each $space in $spaceAmounts
    .m-#{$space}
        margin: #{$space}px
    .m-x-#{$space}
        margin-left: #{$space}px
        margin-right: #{$space}px
    .m-y-#{$space}
        margin-top: #{$space}px
        margin-bottom: #{$space}px

    .p-#{$space}
        padding: #{$space}px
    .p-x-#{$space}
        padding-left: #{$space}px
        padding-right: #{$space}px
    .p-y-#{$space}
        padding-top: #{$space}px
        padding-bottom: #{$space}px
    @each $side in $sides
        .m-#{str-slice($side, 0, 1)}-#{$space}
            margin-#{$side}: #{$space}px
        .p-#{str-slice($side, 0, 1)}-#{$space}
            padding-#{$side}: #{$space}px


@each $name, $size in $breakPoints
    .is-visible-#{$name}
        +breakpoint(nth($size, 1))
            display: flex

    .is-hidden-#{$name}
        +breakpoint(0, (nth($size, 2)-1))
            display: none

    .is-visible-#{$name}-only
        +breakpoint(nth($size,1), nth($size, 2)-1)
            display: flex

    .is-hidden-#{$name}-only
        +breakpoint(nth($size,1), (nth($size, 2)-1))
            display: hidden
