$nav-bar-height: 60 !default
.Hero
    flex-flow: column wrap
    text-shadow: 0 1px 1px rgba(0,0,0,0.4)
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    position: relative
    // +clearfix

.Hero__background
    background-image: url("/img/Hero/balancing-daylight-mountain-901675.jpg")
    background-position: center
    background-size: cover

.Hero__body
    position: absolute
    padding: 40px 20px
    width: 100%

.Hero--Small
    padding: 20px

.Hero--Large
    padding: 60px 0px

.Hero--Extra_Large
    padding: 140px 0

.Hero--Full
    height: 100%
    height: 100vh
    height: calc(100vh - #{$nav-bar-height}px)
    justify-content: center
    display: flex
