$nav-bar-height: 60px !default

.Logo
    height: $nav-bar-height + px

.Logo__container
    position: relative
    width: 100%
    height: 100%
    height: calc(100vh - #{$nav-bar-height}px)
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center


.Logo--Full
    position: absolute
    display: flex
    top: 0
    left: 0
    right: 0
    bottom: 0
    justify-content: center
    align-items: center

.Logo.is-white *
    fill: white
