.Navbar
    display: block
    +breakpoint($tablet-portrait)
        display: flex
        align-items: stretch
        position: relative
        flex: 1

.Navbar__brand
    display: flex
    align-items: stretch
    flex-grow: 1
    flex-shrink: 0
    +breakpoint($tablet-portrait)
        flex-grow: 0

.Navbar__menu
    display: none
    padding: .5rem 0
    +breakpoint($tablet-portrait)
        display: flex
        align-items: stretch
        flex: 1 0

    &.is-active
        display: block

    .Navbar__menu--Start,
    .Navbar__menu--End
        display: block
        +breakpoint($tablet-portrait)
            display: flex
            align-items: center
    .Navbar__menu--Start
        justify-content: flex-start
        margin-right: auto
    .Navbar__menu--End
        justify-content: flex-end
        margin-left: auto

