$nav-bar-height: 60 !default
.Navigation
    position: relative
    z-index: 10
    background-color: $nav-background-color
    color: $nav-text-color
    a
        color: $nav-text-color

.Nav--Fixed
    position: relative
    +breakpoint($tablet-portrait)
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 10

.Nav--Floating_Links
    height: $nav-bar-height + px
    > .Container
        display: flex
        height: 100%
        align-items: center

    .Nav__item
        align-items: center


.Nav__list
    display: flex
    position: relative
    flex-direction: column
    +breakpoint($tablet-portrait)
        flex-direction: row

    &--Dropdown
        height: auto
        opacity: 1
        position: relative
        overflow: hidden
        transition: all ease 0.9s
        .Nav__item a
            padding-left: 30px
        +breakpoint($tablet-portrait)
            height: 1px
            opacity: 0
            .Nav__item a
                padding-left: 12px

        +breakpoint($tablet-portrait)
            min-width: 100%
            height: 1px
            opacity: 0
            overflow: hidden
            position: absolute
            top: 100%
            right: 0
            background-color: $nav-background-color
            z-index: 11
            flex-direction: column
            z-index: 2
            transition: opacity .2s ease

.Nav__list--Bar
    display: none
    +breakpoint($tablet-portrait)
        display: flex


.Nav__item
    display: flex
    position: relative
    flex-direction: column
    flex: 1
    +breakpoint($tablet-portrait)
        flex-direction: row
    a,
    span
        color: $nav-text-color
        padding: 8px 12px
        flex: 1
        white-space: nowrap
        transition: background-color .3s ease
        &:hover
            background-color: $nav-background-color-hover
    span
        cursor: default
    &:hover
        .Nav__list--Dropdown
            height: auto
            opacity: 1

.Nav__item--Seperator
    display: block
    height: 3px
    flex: 1
    background-color: $nav-seperator-color


.Navigation__dropdown
    position: absolute
    background-color: $nav-background-color
    width: 100%
    z-index: 2

