table
    display: table
    margin: 20px 0

    thead
        background-color: $table-head-background
        color: $table-head-color
        border-bottom: $table-head-border

    tr
        border-bottom: $table-border-bottom

    th,
    td
        padding: 10px 15px

    @if $table-alt-background-bool
        tr:nth-child(2)
            background-color: $table-alt-background
    @endif

