*
    color: $text-color
    font-family: 'Muli', sans-serif
    font-size: $font-size-base
    line-height: $font-size-base * $line-height-base

@for $i from 1 through 6
    h#{$i}
        font-family: 'Roboto Slab', serif
        font-size: $font-size-base + $heading-scale * (6 - $i)
        line-height: $font-size-base + $heading-scale * (6 - $i)
        margin-bottom: $font-size-base

p
    padding: 20px 0
    img
        width: auto

hr
    border: 0
    height: 0.25em
    background-color: $light-gray

blockquote,
.Blockquote
    position: relative
    font-family: 'Indie Flower', cursive !important
    color: $blockquote-color
    padding: 0 20px
    font-size: 1.4em
    background: $blockquote-background
    border-left: 4px solid $brand-secondary

    *
        font-family: 'Indie Flower', cursive

    // &::before,
    // &::after
    // 	content: "\""
    // &:before
    // 	position: absolute
    // 	left: 10px
