@import './node_modules/bulma/bulma.sass'
@import './node_modules/font-awesome/scss/font-awesome.scss'


li
	list-style: none

.spacer-top
	margin-top: 50px

.content li + li
    margin-top: 0

.scroller
	overflow-y: auto
	.column &
		max-height: 600px
@import 'Nav'

// Helper
$spaceAmounts: (5,10,15,20,25,30,35,40,45,50,75,100);
$sides: ('top','right','bottom','left');

@each $space in $spaceAmounts
    .m-#{$space}
        margin: #{$space}px
    .m-x-#{$space}
        margin-left: #{$space}px
        margin-right: #{$space}px
    .m-y-#{$space}
        margin-top: #{$space}px
        margin-bottom: #{$space}px

    .p-#{$space}
        padding: #{$space}px
    .p-x-#{$space}
        padding-left: #{$space}px
        padding-right: #{$space}px
    .p-y-#{$space}
        padding-top: #{$space}px
        padding-bottom: #{$space}px
    @each $side in $sides
        .m-#{str-slice($side, 0, 1)}-#{$space}
            margin-#{$side}: #{$space}px
        .p-#{str-slice($side, 0, 1)}-#{$space}
            padding-#{$side}: #{$space}px


.badge
    display: flex
    height: 18px
    min-width: 18px
    align-items: center
    margin-left: 10px
    justify-content: center
    font-size: .9em
    border-radius: 20px
    padding: 8px 5px
    background-color: $info
    color: $white

