.nav-dropdown
	position: absolute
	background: white
	top: 49px
	right: 0
	display: none
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1)

.nav-item
	position: relative

.nav-seperation
	height: 2px
	display: block
	background-color: darken(white, 15%)

.nav-item:hover > .nav-dropdown
	display: block
	white-space: nowrap
	>.nav-item:hover
		background: darken(white, 2%)
