.Artical
	padding: 40px 0
	display: flex
	flex-flow: column-reverse
	+tablet
		flex-flow: row

.Artical__content
	flex: 1
	padding: 0
	+tablet
		padding-right: 20px

.Artical__body

.Artical__title
	h1 
		margin-top: 0

.Artical__image
	flex: 1
	+tablet
		flex: 0
		flex-basis: 30%