$bubble-size: 200px
.Bubble
	background-color: white
	position: absolute
	top: -($bubble-size/2)
	height: $bubble-size
	width: $bubble-size
	padding: 20px
	display: flex
	justify-content: center
	align-items: center
	margin-left: auto
	margin-right: auto
	left: 0
	right: 0
	+border-radius(50%)