.Button	
	padding: 5px 10px
	background-color: $primary
	color: $secondary
	border: none
	border-bottom: 2px solid darken($secondary, 10%)
	cursor: pointer
	+border-radius(4px)
	&:hover
		background-color: darken($primary, 10%)
	