$backger-size: 30px
.Card__container
	position: relative
	width: 100%
	margin: 0 auto
	+tablet
		width: 60%

.Card
	border: 1px solid $text-color
	border-top: 0
	z-index: 2
	position: relative

.Card__header
	text-align: center
	display: flex
	height: 0
	line-height: 0
	justify-content: center
	align-items: center
	> *
		padding: 0 30px
	&:before,
	&:after
		content: ''
		height: 1px
		flex: 1
		background: $text-color
		align-self: center

.Card__body
	padding: 40px 60px
	text-align: center
	
.Card__backer
	position: absolute
	background-color: $background-trans
	top: -($backger-size + 10)
	bottom: -$backger-size
	left: $backger-size
	right: $backger-size
	z-index: 1