.Form

.Form__group
	display: flex
	margin-bottom: 20px
	flex-direction: column

	&--Row
		flex-direction: row

.Form__label
	flex: 1
	width: 100%
	display: block
	margin-bottom: .5rem

.Form__input
	flex: 1
	width: 100%
	height: 38px
	padding: 6px 10px
	background-color: #fff
	border: 1px solid #D1D1D1
	box-shadow: none
	box-sizing: border-box
	+border-radius(4px)

.Form__textarea
	height: 200px