.Lego
	width: 100%
	position: relative
	background-color: white
	padding-top: 200px
	padding-bottom: 200px
	overflow: hidden
	border-top: 2px solid $primary

.Lego--Primary
	background-color: $primary
	padding-top: 100px

.Lego--Secondary
	background-color: $secondary

.Lego--Center
	display: flex
	align-items: center
	min-height: 700px

.Lego--Health
	background: url('/img/HealthyStomach.jpg') no-repeat center
	background-size: cover 

.Lego--Massage
	background: url('/img/massage_2.jpg') no-repeat center
	background-size: cover 

.Lego__background
	display: flex
	position: absolute
	justify-content: center
	align-items: center 
	top: 0
	bottom: 0
	left: 0
	right: 0
