.Logo--Container
	display: flex
	flex-flow: column
	+tablet
		flex-flow: row

.Logo
	flex: 1
	.Navigation--Overlay &
		svg
			height: 50px
			fill: $secondary

.Logo--Index
	+tablet
		padding-right: 30px
		border-right: 4px solid $secondary

.Logo__leaf
	fill: $primary--dark