$nav-height: 70px

.Navigation


.Navigation--Overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 5
	background: $primary
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.24)
	height: $nav-height

	.Container
		display: flex
		justify-content: space-between

	.Navigation__list
		display: none
		+desktop
			display: flex
			justify-content: flex-end
			height: $nav-height

				

	.Logo
		max-height: $nav-height
		display: flex
		padding: 10px

.Navigation__list
	display: flex
	justify-content: center
	flex-flow: row nowrap

.Navigation__list--Vertical
	flex-flow: column wrap
	min-width: 230px
	.Navigation__item
		flex: 1
			
.Navigation__item
	white-space: nowrap
	display: flex

	a
		display: flex 
		align-items: center
		flex: 1
		padding: 10px 20px
		&:hover
			background-color: darken($primary, 14%)


.Navigation__toggle
	cursor: pointer
	display: flex
	justify-content: space-around
	align-items: center
	flex-flow: column
	position: relative
	width: $nav-height
	height: $nav-height
	// margin: 20px
	// border: 4px solid $secondary
	// +border-radius(4px)
	&:hover
		background-color: darken($primary, 14%)
	> span 
		display: block
		width: 20px
		height: 2px
		background-color: $secondary
		position: absolute
	span:nth-child(1)
		margin-top: -6px
	span:nth-child(2)
		margin-top: -1px
	span:nth-child(3)
		margin-top: 4px

		
	+desktop
		display: none

.Navigation__dropdown
	background-color: lighten($primary, 5%)
	position: fixed
	top: $nav-height
	left: 0
	right: 0
	z-index: 4
	border-bottom: 4px solid $secondary
	+desktop
		display: none


.slide-enter-active 
	transition: all .3s ease

.slide-leave-active 
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-enter, 
.slide-leave-to
	transform: translateY(-100px)
	opacity: 0
