h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
    color: $raisinBlack
    font-family: 'Roboto Slab', serif
    font-weight: normal

h1
    +font-size(44)
    +line-height(52)
    margin: 20px 0

h2
    +font-size(32)
    +line-height(48)
    margin: 20px 0

h3
    +font-size(16)
    +line-height(24)
    margin: 20px 0

h4
    +font-size(14)
    +line-height(20)

h5
    +font-size(10)
    +line-height(18)

h6
    +font-size(8)
    +line-height(22)

*
    font-family: 'Open Sans', sans-serif
    +font-size(16)


a
    color: $secondary
    &:hover
        color: darken($secondary, 10%)

p
    color: $text-color
    +line-height(36)
    padding-bottom: 30px

ul,
ul ul,
ol,
ol ul
    margin-left: 20px
    li
        padding: 5px 0
